<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="errorMessage" style="color:red">
    {{ errorMessage }}
</div>

<div *ngIf="issue">

    <h2>
        {{ issue.book?.title }}

        <span *ngIf="issue.status === 'overdue'" style="background:red; color:white; padding:3px 6px;">
            OVERDUE
        </span>
    </h2>

    <p><strong>Issue ID:</strong> {{ issue.id }}</p>
    <p><strong>Status:</strong> {{ issue.status }}</p>
    <p><strong>Issue Date:</strong> {{ issue.issueDate | date }}</p>
    <p><strong>Due Date:</strong> {{ issue.dueDate | date }}</p>

    <div *ngIf="issue.status === 'overdue'" style="color:red;">
        <p><strong>Fine:</strong> ${{ issue.fineAmount }}</p>
    </div>

    <div *ngIf="issue.status !== 'returned'">
        <p>
            Renewals: {{ issue.renewalCount }} / {{ issue.maxRenewals }}
            (Remaining: {{ renewalsRemaining }})
        </p>
    </div>

    <div style="margin-top:10px;">

        <!-- Renew -->
        <button *ngIf="issue.status === 'issued'" [disabled]="renewalsRemaining === 0 || actionLoading"
            (click)="renew()">
            Renew
        </button>

        <!-- Return -->
        <button *ngIf="issue.status === 'issued'" [disabled]="actionLoading" (click)="returnBook()">
            Return
        </button>

        <!-- Pay & Return -->
        <button *ngIf="fineDetails?.isOverdue && fineDetails?.status === 'issued'" [disabled]="actionLoading" (click)="payAndReturn()">
            Pay Fine & Return
        </button>

    </div>

</div>